a,.btn {
-o-transition:all .1s ease-in-out;
-ms-transition:all .1s ease-in-out;
-moz-transition:all .1s ease-in-out;
-webkit-transition:all .1s ease-in-out;
transition:all .1s ease-in-out;
}

.ninja {
  display: none;
}

body .well {
  background: #f2f2f2;
  box-shadow: 0 1px 1px rgba(0,0,0,.25);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.25);
  border: none;
}

ul,ol { 
  line-height: 1.75em;
}

.btn-primary {
background: #54aaff;
background: -moz-linear-gradient(top,  #54aaff 0%, #224466 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#54aaff), color-stop(100%,#224466));
background: -webkit-linear-gradient(top,  #54aaff 0%,#224466 100%);
background: -o-linear-gradient(top,  #54aaff 0%,#224466 100%);
background: -ms-linear-gradient(top,  #54aaff 0%,#224466 100%);
background: linear-gradient(to bottom,  #54aaff 0%,#224466 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54aaff', endColorstr='#224466',GradientType=0 );
text-shadow:0 -1px 1px rgba(0,0,0,.2);
color:rgba(255,255,255,.9);
}

.btn-primary:hover {
  color: #fff;
}

.btn:hover {
  background-position:100%;  
}

.btn-default {
background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #cccccc 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cccccc));
background: -webkit-linear-gradient(top,  #ffffff 0%,#cccccc 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#cccccc 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#cccccc 100%);
background: linear-gradient(to bottom,  #ffffff 0%,#cccccc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 );
text-shadow:0 -1px 1px rgba(255,255,255,.9);
color:rgba(0,0,0,.6);
}

.btn-default:hover {
  color: #000;
}

body {
-webkit-font-smoothing:antialiased;
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
padding-top:50px;
text-rendering:optimizelegibility;
background:url(img/hero2.jpg) #444 center 0 no-repeat;
background-attachment:fixed;
}

h1,h2,h3,h4,h5,#logo {
font-family:'Open Sans', sans-serif;
}

#nav a:hover,#nav li.active a {
background:transparent;
color:#000;
}

#footer {
color:#ccc;
background:#1a1a1a;
}

#home-search-more {
display:none;
}

#home-search-more .margin-left {
margin-left:2em;
}

#hero .btn {
padding:1em 2em;
}

#hero .btn-group-vertical {
display:block;
width:100%;
}

.clear {
clear:both;
}

.btn {
outline:none;
border-color:rgba(0,0,0,0.25)!important;
padding:4px 12px;
background-size:1px 200%;
}

h1 {
font-size:5rem;
line-height:1.2em;
letter-spacing:-2px;
text-indent:-3px;
}

h2 {
font-size:3rem;
line-height:1.2em;
letter-spacing:-1px;
text-indent:-2px;
}

h3 {
font-size:2rem;
}

h4 {
font-size:1.5rem;
}

h5 {
font-size:1.25rem;
}

h6 {
font-size:1rem;
}

#hero .wrap {
position:relative;
width:100%;
overflow:hidden;
}

#hero .wrap img {
position:absolute;
left:0;
top:0;
}

.latest a {
position:relative;
display:block;
width:100%;
height:107px;
overflow:hidden;
}

#main {
background:#fff;
padding:40px 0;
}

#title {
color:#fff;
padding:20px;
}

#hero label {
color:rgba(255,255,255,.6);
}

.latest img {
position:absolute;
z-index:1;
left:0;
top:0;
display:block;
width:100%;
}

#nav-main .navbar-brand {
padding-top:12px;
padding-bottom:12px;
}

#nav-main {
box-shadow:0 2px 0 0 rgba(0,0,0,.1);
position:fixed;
z-index:2000;
left:0;
top:0;
width:100%;
background:#fff;
border-radius:0;
}

#nav-main .navbar-btn {
margin-bottom:0;
}

.latest strong {
position:absolute;
z-index:2;
line-height:2em;
background:#428bca;
color:#fff;
font-size:.85em;
display:none;
opacity:.9;
left:4px;
top:4px;
width:152px;
height:96px;
text-align:center;
padding:15px 0;
}

.latest a:hover strong {
display:block;
}

#nav li {
padding-left:1px;
}

#nav a {
color:#999;
}

#logo {
font-weight:400;
color:#333;
font-size:1.75em;
}

#logo i {
width:1.2em;
position:relative;
top:-1px;
display:inline-block;
}

#hero {
background:transparent;
border-bottom:1px solid rgba(0,0,0,.2);
padding:20px 0;
}

#hero a.txt {
color:#fff;
}

#nav-main .pull-right {
margin-top:10px;
}

#hero a.btn {}

#hero .well {
padding-left:0;
background-color:transparent;
box-shadow:none;
border-color:transparent;
margin:0;
}

body .btn-lg {
padding:10px 16px;
}

#logo span {
color:#ccc;
}

#hero .btn-group {
width:100%;
display:block;
}

#hero {
color:#fff;
}

#hero h1,#title h1 {
text-shadow:0 2px 0 rgba(0,0,0,.4);
}

#hero .well h1 {
color:#fff;
margin-top:0;
}

#hero hr {
color:rgba(255,255,255,.1);
border-color:rgba(255,255,255,.1);
}

#hero .well em {
display:inline-block;
color:#fff;
padding:0 .5em;
}

#hero a.txt, p a, li a {
text-decoration:underline;
}

.nav li a {
  text-decoration: none;
}

.btn {
  text-decoration: none;
}

.panel-heading .panel-title a {
  display: block;
}

#loginform {
display:block;
width:25%;
}

#listings img {
opacity:.8;
transition:all .1s;
-webkit-transition:all .1s;
margin:0 5px 5px 0;
}

#latest-listings {
position:relative;
height:107px;
}

#hero .slide {
font-size:1.2em;
line-height:1.4em;
width:100%;
padding:40px 0;
}

#hero .slide strong {
font-size:2.25em;
line-height:1em;
display:block;
padding-bottom:.5em;
}

#hero .slide em {
font-weight:700;
text-shadow:0 2px 0 rgba(0,0,0,.5);
font-size:1.5em;
}

.latest {
position:absolute;
left:0;
top:0;
z-index:1;
width:100%;
}

#listings a:hover img {
opacity:1;
}

#nav-main .nav {
margin-right:-30px;
}

#nav-main .navbar {
margin-bottom:0;
height:50px;
}

html body .navbar-wrapper {
z-index:999999999;
}

#hero .hero-pager .btn,.listings-pager .btn {
height:20px;
width:30px;
padding:0;
}

.listings-pager {
margin-right:40px;
}

#hero .hero-pager {
width:108px;
position:absolute;
z-index:4;
right:240px;
bottom:-40px;
margin:auto;
padding: 10px;
background: #fff;
border-radius: 4px;
}

iframe {
display:block;
margin:auto;
}

.col-md-4 h2,.col-md-4 i {
text-align:center;
display:block;
}

#hero .col-md-4 i {
display:inline-block;
}

#home-features .col-md-4 i.fa {
font-size:2em;
width:2em;
display:block;
height:2em;
line-height:2em;
border-radius:1em;
box-shadow:0 1px 1px rgba(0,0,0,.5);
background:linear-gradient(tobottom,#ffffff0%,#e5e5e5100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e5e5e5',GradientType=0);
text-shadow:0 -1px 1px rgba(255,255,255,.9);
color:rgba(0,0,0,.6);
margin:0 auto .5em;
}

#hero .row .fa {
font-size:3em;
color:rgba(0,0,0,.25);
text-shadow:none;
}

i.fa {
text-align:center;
margin:auto;
}

.buyers-guide ul {
  margin-left: 3em;
}
 
.buyers-guide .label {
  margin-right: 1em;
}

hr {
color:#ccc;
border-color:#ccc;
}

body .navbar-wrapper {
position:relative;
z-index:15;
margin-top:0;
}

.carousel {
margin-bottom:60px;
margin-top:-90px;
}

.carousel-caption {
z-index:10;
background:rgba(0,0,0,.75);
bottom:auto;
top:100px;
border-radius:4px;
}

.carousel .item {
height:500px;
background-color:#777;
}

.carousel-inner > .item > img {
position:absolute;
top:0;
left:0;
min-width:100%;
height:auto;
}

.carousel li {
text-align:left;
}

.carousel .well {
background:transparent;
margin:0 30px;
}

.marketing {
padding-left:15px;
padding-right:15px;
}

.marketing .col-lg-4 {
text-align:center;
margin-bottom:20px;
}

.marketing h2 {
font-weight:400;
}

.marketing .col-lg-4 p {
margin-left:10px;
margin-right:10px;
}

.featurette-divider {
margin:80px 0;
}

.featurette-heading {
font-weight:300;
line-height:1;
letter-spacing:-1px;
}

.text-center {
text-align:center;
}